/* mobile style */
@media screen and (max-width: 767px) {
    .section {
    padding-top: 64px;
    padding-bottom: 0px;
    }
    .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

.hotel-hero{
    padding-top: 40px;
    padding-bottom: 64px;
    background-color: var(--primary-background-color);
}

.hotel-hero-title{
    margin-bottom: 24px;
    font-weight: var(--font-weight-std);
    font-size: 40px;
    line-height: 1;
    
}

.hotel-hero-btn-wrap{
    margin-bottom: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    gap: 14px;

}

.hotel-hero-btn {
  background-color: transparent;
  /* width: fit-content; */
  height: 34px;
  padding: 8px 18px;
  border: 0.8px solid var(--primary-text-color);
  border-radius: 32px;
}





.hotel-hero-image{
    
    /* display: flex; */
    margin-bottom: 24px;
    width: 100%;
    height: 429px;
    background-color: rgb(135, 151, 153);
}

.image-first{
    width: 250px;
    height: 429px;
}

.image-first > img{
    display: block;
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}









.hotel-hero-slider-wrap{
    display: flex;
    margin-right: 20px;
    margin-bottom: 40px;
    gap: 32px;
    justify-content: right;
}


 .hotel-hero-slider{
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
} 
.slider-left{
    fill: none;
    stroke: var(--primary-text-color); 
    stroke-opacity: 30%;
}

.slider-right{
    fill: none;
    stroke: var(--primary-text-color); 
}

.hotel-hero-description p {
    max-width: 338px;
    letter-spacing: 0.05em;
}
.text-italic {
  font-style: italic;
}

.hotel-hero-btn:is(:hover, :focus) {
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  /* box-shadow: -14px 24px 68px -16px rgba(255, 255, 255, 0.15); */

}


/* Tablet style */
@media screen and (min-width:768px)
{
    .section {
    padding-top: 80px;
    padding-bottom: 0;
}
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }   

 .hotel-hero{
    padding-bottom: 40px;
 }

.hotel-hero-title{
    margin-bottom: 32px;
    font-size: 80px;
}

.hotel-hero-btn-wrap{
    margin-bottom: 54px;
}

.hotel-hero-btn {
   padding: 8px 24px;
   letter-spacing: -0.02em;
 }

 .hotel-hero-image{
    margin-bottom: 40px;
    width: 100%;
    height: 548px;
    background-color: rgb(135, 151, 153);
}

.hotel-hero-wrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: absolute;
}

}

/* Desktop style */
@media screen and (min-width:1440px) {
.section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.container{
    max-width: 1440px;
}

.hotel-hero-title{
    margin-bottom: 32px;
    font-size: 90px;
}

.hotel-hero-btn {
   padding: 9px 24px;
  }



}
