<section class="section-about-kitchen">
  <div class="container">
    <h2 class="visually-hidden">About a kitchen</h2>
    <div class="picture-about-kitchen-wrap">
      <div class="picture-about-kitchen-wrap-seckond">
        <picture class="picture-about-kitchen">
          <source
            srcset="
              ../img/desktop/restaurant/about-rest-desktop-1.jpg,
              ../img/desktop/restaurant/about-rest-desktop-1@2x.jpg
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ../img/tablet/restaurant/about-rest-tablet-3.jpg,
              ../img/tablet/restaurant/about-rest-tablet-3@2x.jpg
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/mobil/restaurant/about-restaurant-1.jpg,
              ../img/mobil/restaurant/about-restaurant-1@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            class="imag-about-kitchen"
            src="../img/desktop/restaurant/about-rest-desktop-1.jpg"
            alt="cook"
          />
        </picture>
      </div>
      <div class="picture-about-kitchen-wrap-seckond">
        <div class="picture-about-kitchen-text">
            <picture class="picture-about-kitchen">
              <source
                srcset="
                  ../img/desktop/restaurant/about-rest-desktop-2.jpg,
                  ../img/desktop/restaurant/about-rest-desktop-2@2x.jpg
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ../img/tablet/restaurant/about-rest-tablet-1.jpg,
                  ../img/tablet/restaurant/about-rest-tablet-1@2x.jpg
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ../img/mobil/restaurant/about-restaurant-2.jpg,
                  ../img/mobil/restaurant/about-restaurant-2@2x.jpg
                "
                media="(max-width: 767px)"
              />
              <img
                class="imag-about-kitchen"
                src="../img/desktop/restaurant/about-rest-desktop-2.jpg"
                alt="meat"
              />
            </picture>
            <p class="text-about-kitchen text-about-kitchen-first">
              At Mimino, we are experts in meat preparation. Our chefs use only the
              finest and freshest ingredients to create delicious dishes that
              showcase the flavors of premium cuts of meat.
            </p>
        </div>
        <div class="picture-about-kitchen-text">
            <picture class="picture-about-kitchen">
              <source
                srcset="
                  ../img/desktop/restaurant/about-rest-desktop-3.jpg,
                  ../img/desktop/restaurant/about-rest-desktop-3@2x.jpg
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ../img/tablet/restaurant/about-rest-tablet-2.jpg,
                  ../img/tablet/restaurant/about-rest-tablet-2@2x.jpg
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ../img/mobil/restaurant/about-restaurant-3.jpg,
                  ../img/mobil/restaurant/about-restaurant-3@2x.jpg
                "
                media="(max-width: 767px)"
              />
    
              <img
                class="imag-about-kitchen"
                src="../img/desktop/restaurant/about-rest-desktop-3.jpg"
                alt="cocktail"
              />
            </picture>
              <p class="text-about-kitchen text-about-kitchen-second">
              Our slow-cooking process and expert seasoning bring out the best in
              each dish, making for an unforgettable dining experience. Come taste
              the magic of meat preparation at Mimino.
            </p>
        </div>
      </div>
    </div>

    <ul class="list-text-about-kitchen">
      <li class="item-text-about-kitchen">
        <p class="text-about-kitchen">
          At Mimino, we are experts in meat preparation. Our chefs use only the
          finest and freshest ingredients to create delicious dishes that
          showcase the flavors of premium cuts of meat.
        </p>
      </li>
      <li class="item-text-about-kitchen">
        <p class="text-about-kitchen">
          Our slow-cooking process and expert seasoning bring out the best in
          each dish, making for an unforgettable dining experience. Come taste
          the magic of meat preparation at Mimino.
        </p>
      </li>
    </ul>
  </div>
</section>
