<section>
    <h2>
        Restaurant menu
    </h2>
    <h3>Hot meals</h3>
    <ul>
        <li>
            <p>Veal borscht with beans</p>
            <p>400 g</p>
            <p>Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
            <p>240 UAH</p>
        </li>
        <li>
            <p>Cheese soup with chicken</p>
            <p>400 g</p>
            <p>Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
            <p>200 UAH</p>
        </li>
        <li>
            <p>Carbonara pasta</p>
            <p>400 g</p>
            <p>Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
            <p>430 UAH</p>
        </li>
        <li>
            <p>Pork steak</p>
            <p>400 g</p>
            <p>Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
            <p>500 UAH</p>
        </li>
        <li>
            <p>Gorbusha in white wine sauce</p>
            <p>400 g</p>
            <p>Tender redfish, cream sauce based on white wine</p>
            <p>400 UAH</p>
        </li>
    </ul>
    <h3>Salads</h3>
    <ul>
        <li>
            <p>Caesar with chicken</p>
            <p>230 g</p>
            <p>Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
            <p>450 UAH</p>
        </li>
        <li>
            <p>Caesar with shrimp</p>
            <p>230 g</p>
            <p>Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
            <p>300 UAH</p>
        </li>
        <li>
            <p>Greek salad</p>
            <p>230 g</p>
            <p>Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
            <p>280 UAH</p>
        </li>
        <li>
            <p>Meat salad</p>
            <p>230 g</p>
            <p>Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
            <p>300 UAH</p>
        </li>
    </ul>
    <h3>Side dishes and snacks</h3>
    <ul>
        <li>
            <p>Baked vegetables</p>
            <p>400 g</p>
            <p>Zucchini, pepper, tomato, eggplant</p>
            <p>230 UAH</p>
        </li>
        <li>
            <p>French fries</p>
            <p>400 g</p>
            <p>Potatoes, tomato sauce</p>
            <p>160 UAH</p>
        </li>
        <li>
            <p>Peasant-style potatoes</p>
            <p>400 g</p>
            <p>Potatoes, spices, spicy sauces</p>
            <p>160 UAH</p>
        </li>
        <li>
            <p>Crisp pickles from the barrel</p>
            <p>400 g</p>
            <p>Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
            <p>350 UAH</p>
        </li>
        <li>
            <p>Chicken wings in honey sauce</p>
            <p>400 g</p>
            <p>Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
            <p></p>
        </li>
    </ul>
    <h3>Desserts</h3>
    <ul>
        <li>
            <p>Napoleon cake</p>
            <p>200 UAH</p>
        </li>
        <li>
            <p>Poppy cake</p>
            <p>300 UAH</p>
        </li>
        <li>
            <p>Tiramisu</p>
            <p>260 UAH</p>
        </li>
    </ul>
    <h3>Drinks</h3>
    <ul>
        <li>
            <p>Black/green tea</p>
            <p>100 UAH</p>
        </li>
        <li>
            <p>Espresso</p>
            <p>100 UAH</p>
        </li>
        <li>
            <p>Cappuccino</p>
            <p>100 UAH</p>
        </li>
    </ul>
    <button type="button">book a table</button>
</section>
