<section class="restaur-hero section">
  <div class="restaur-hero-wrap">
    <div class="container restaur-container">
      <h1 class="restaur-hero-title animate__animated animate__fadeIn">
        Restaurant
      </h1>
      <div class="restaur-btn-wrap">
        <button class="restaur-hero-btn" type="button" data-modal-open>book a table</button>
        <a href="#menu-link" class="restaur-link">View a menu</a>
      </div>
    </div>
    <div class="container-slider">
      <div class="slider-wrap">
        <div id="slider-container" class="restaurant-slider">
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-1.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-1@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-1.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-1@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-1.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-1@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-1.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-2.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-2@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-2.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-2@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-2.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-2@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-2.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-3.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-3@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-3.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-3@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-3.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-3@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-3.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-4.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-4@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-4.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-4@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-4.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-4@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-4.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-5.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-5@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-5.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-5@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-5.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-5@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-5.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-6.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-6@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-6.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-6@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-6.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-6@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-6.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
        </div>
        <div class="restaur-btn-wrapper">
          <div onclick="prev()" class="slider-btn-first">
            <svg class="icon-left" width="36" height="36">
              <use href="./img/icons.svg#icon-button-2"></use>
            </svg>
          </div>

          <div onclick="next()" class="slider-btn-second">
            <svg class="icon-right" width="36" height="36">
              <use href="./img/icons.svg#icon-button-1"></use>
            </svg>
          </div>
        </div>
        <div class="overlay"></div>

        <div class="restaur-text-wrap">
          <p class="restaur-text">
            Whether you're in the mood for a hearty breakfast, a light lunch, or
            <span class="italic">a romantic dinner</span>, our menu has
            something for everyone.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="backdrop is-hidden" data-modal>
        <div class="restourant-details-modal">
          <button  type="button" class="restaur-modal-close-btn" data-modal-close>
              <svg class="restaur-modal-close-btn-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-close-window"></use>
              </svg>
          </button>
          <h2 class="restourant-details-modal-title">book a table<h2>
          <form class="restourant-details-modal-form">
              <div class="first-label-wrap">
                <label class="restourant-modal-label">
                    <span class="restourant-details-modal-form-input-desc">Your name</span>
                    <input
                        type="text"
                        name="user-name"
                        class="restourant-details-modal-form-input"
                        required
                        pattern="[a-zA-Z]+"
                        minlength="2"
                    />
                    <p class="restourant-details-modal-text">Who should book a table for?</p>
                </label>
                    <label class="restourant-modal-label">
                        <select class="restourant-modal-select">
                            <option value disabled selected>NUMBER OF PEOPLE</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </label>
              </div >
                  <div class="second-label-wrap">
                    <label class="restourant-modal-label">
                        <select class="restourant-modal-select">
                            <option  value="Today">Today</option>
                            <option value="Tomorrow">Tomorrow</option>
                            <option value="after two days">after two days</option>
                            <option value="after three days">after three days</option>
                        </select>
                        <p class="restourant-details-modal-text">WHAT DATE A BOOK?</p>
                    </label>
                    <label class="restourant-modal-label">
                        <span class="restourant-details-modal-form-input-desc">+38()</span>
                        <input
                            type="tel"
                            name="user-phone"
                            class="restourant-details-modal-form-input"
                            required
                            pattern="^[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                        />
                        <p class="restourant-details-modal-text">Phone number</p>
                    </label>
                  </div>
          </form>
          <button type="submit" class="modal-btn">MAKE A RESERVATION</button>
        </div>
  </div>
</section>
