<section class="hotel-hero">
    <div class="container">
    
        <h1 class="hotel-hero-title">HOTEL</h1>

         <div class="hotel-hero-btn-wrap">
             <button class="hotel-hero-btn" type="button">BOOK A ROOM</button>
             <button class="hotel-hero-btn" type="button">VIEW PRICES</button>        
        </div>

        <div class="hotel-hero-image-ZAGL"></div>

        
    <div class="hotel-hero-wrap">
        <div class="hotel-hero-slider-wrap">
            
            <button class="hotel-hero-slider-left" type="button">
                <svg class="slider-left" width="8" height="8">
                    <use href="./images/icons.svg#icon-slider-left"></use>
                </svg>
            </button>
            <button class="hotel-hero-slider-right" type="button">
                <svg class="slider-right" width="8" height="8">
                    <use href="./images/icons.svg#icon-slider-right"></use>
                </svg>
            </button>

        </div>

        <div class="hotel-hero-description">
            <p>Whether you're in the mood for a hearty breakfast, a light lunch, or <span class="text-italic">a romantic dinner,</span> our menu has       something for everyone.</p>
        </div>
        
    </div>
    </div>
</section>