<section class="hotel-hero">
    <div class="container">
    
        <h1 class="hotel-hero-title">HOTEL</h1>

         <div class="hotel-hero-btn-wrap">
             <button class="hotel-hero-btn" type="button">BOOK A ROOM</button>
             <button class="hotel-hero-btn" type="button">VIEW PRICES</button>        
        </div>

        <div class="hotel-hero-image"></div>

        <div class="hotel-hero-slider-wrap">oooooo</div>

        <div class="hotel-hero-description">
            <p>Whether you're in the mood for a hearty breakfast, a light lunch, or <span class="text-italic">a romantic dinner,</span> our menu has       something for everyone.</p>
        </div>

    </div>
</section>