.hero-main{
    padding-top: 429px;
    padding-bottom: 38px;
    background-color: var(--dark-bcg-color);
    /* background-image:
     linear-gradient(180deg, rgba(0, 0, 0, 0) 70.73%, 
     #121212 98.51%), 
     url("../img/mobil/home/hero-mobil.jpg");  */

     background-image: 
          url("../img/mobil/home/hero-mobil.jpg"); 

     background-size: 335px 439px;
     background-position: center 40px;
     background-repeat: no-repeat;

}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-main {
    background-image: 
      url("../img/mobil/home/hero-mobil@2x.jpg"); 
  } 
  }

.hero-main h1{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.00;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--text-color-light);
}

.hero-btn{
    margin-bottom: 66px;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.hero-btn-black{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    background-color: transparent;
    color: var(--text-color-light);
    width: fit-content;
    height: 34px;
    padding: 8px 18px;
    border: 0.8px solid var(--text-color-light);
    border-radius: 32px;
    /* transition: background-color 250ms var(--cubic); */
}

.hero-description p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29em;


    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--text-color-light);
}

.hero-description > p:not(:last-child){
    margin-bottom: 32px;
}

.text-italic{
    font-style: italic;
}

.hero-btn-black:is(:hover, :focus){
    background-color: var(--active-bcg-btn-dark);
   color:var(--primary-text-color);
    box-shadow: -14px 24px 68px -16px rgba(255, 255, 255, 0.15);
}

/* ----------------------------------------Tablet--- */

@media screen and (min-width:768px)
{
    
     .section {
    padding-top: 80px;
    padding-bottom: 80px;
    }

    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }    

    .hero-main{
    padding-top: 528px;
    background-image: 
          url("../img/tablet/home/hero-home.jpg"); 

     background-size: 542px 710px;
     background-position: center 50px;
    
    }

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-main {
      background-image: 
        url("../img/tablet/home/hero-home@2x.jpg");
    }
  }

.hero-main h1{
    margin-bottom: 32px;
    font-size: 150px;
    line-height: 1.00;
    }

.hero-btn{
    margin-bottom: 86px;
    }
.hero-btn-black{
    height: 40px;
    padding: 8px 24px;
    }

.hero-description{
    display: flex;
    gap: 32px;
    }
}

/* ----------------------------------------Desktop--- */
@media screen and (min-width:1200px) {
   
     
     .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .container{
        max-width: 1376px;
    }

    .hero-main{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-top: 274px;
    padding-bottom: 78px;
    background-image: 
          url("../img/desktop/home/hero-desktop-home.jpg"); 

     /* background-size: 542px 770px; */
     background-size: contain;
     background-position: right top;
     
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-main {
      background-image: 
        url("/img/desktop/home/hero-desktop-home@2x.jpg");
    }
  }

    .hero-title-box h1{
        text-align: left;
        font-size: 180px;
        margin-bottom: 196px;
    }

    .hero-desktop-wrap{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .hero-description p:first-child{
        max-width: 338px;
        margin-bottom: 0;
    }

    .hero-description p:last-child{
        max-width: 314px;
        
    }

    .hero-btn{
        margin-right: 30px;
        margin-bottom: 0px;
    }

    .hero-btn-black{
    font-size: 18px;
    height: 42px;
    padding: 9px 24px;
    }

}