.hero-main{
    padding-top: 50px;
    padding-bottom: 38px;
    background-color: var(--primary-text-color);
}

.hero-main h1{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.00;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--text-color-light);
}

.hero-image{
    margin-left: auto;
    margin-right: auto;
    height: 439px;
    max-width: 335px;
    background-image:
     linear-gradient(180deg, rgba(0, 0, 0, 0) 70.73%, 
     #121212 98.51%), 
     url("../img/mobil/home/hero-mobil.jpg");;

    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

}

.hero-title-box{
    margin-top: calc(389px - 439px);
}

.hero-btn{
    margin-bottom: 66px;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.hero-btn-black{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    background-color: transparent;
    color: var(--text-color-btn-light);
    width: fit-content;
    height: 34px;
    padding: 8px 18px;
    border: 0.8px solid var(--text-color-btn-light);
    border-radius: 32px;
    /* transition: background-color 250ms var(--cubic); */
}

.hero-description p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29em;


    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--text-color-light);
}

.hero-description > p:not(:last-child){
    margin-bottom: 32px;
}

.text-italic{
    font-style: italic;
}

.hero-btn-black:is(:hover, :focus){
    background-color: var(--active-bcg-btn-dark);
   color:var(--primary-text-color);
    box-shadow: -14px 24px 68px -16px rgba(255, 255, 255, 0.15);
}

/* ----------------------------------------Tablet--- */

@media screen and (min-width:768px)
{
    .section {
    padding-top: 80px;
    padding-bottom: 80px;
}
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }   
}
