<footer class="footer">
    <div class="container footer-container">
        <nav class="nav-footer">
            <ul class="nav-footer-list">
                <li class="nav-footer-item">
                    <a href="./index.html" class="nav-link">HOME</a>
                </li>
                <li class="nav-footer-item">
                    <a href="./hotel_page.html" class="nav-link">HOTEL</a>
                </li>
                <li class="nav-footer-item">
                    <a href="./restaurant_page.html" class="nav-link">RESTAURANT</a>
                </li>
            </ul>
            <a class="footer-logo" href="./index.html">
                <h3 class="footer-logo-title">Mimino</h3>
                <p class="footer-logo-text">restaurant-hotel complex</p>
            </a>
        </nav>
        <ul class="footer-soc-list">
            <li class="footer-soc-item">
                <a href="https://www.instagram.com/" class="footer-soc-link">
                    <svg class="footer-soc-icon" width="24" height="24">
                        <use href="./SVG/icons/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-soc-item">
                <a href="https://www.facebook.com/" class="footer-soc-link">
                    <svg class="footer-soc-icon" width="24" height="24">
                        <use href="./SVG/icons/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-soc-item">
                <a href="https://twitter.com/" class="footer-soc-link">
                    <svg class="footer-soc-icon" width="24" height="24">
                        <use href="./SVG/icons/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>