<header class="header">
    <div class="container header-container">
        <button type="button" class="menu-open-btn" data-menu-open>
            <svg class="menu-btn-icon" width="24" height="24">
                <use href="./SVG/icons/icons.svg#icon-menu"></use>
            </svg>
        </button>

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="./hotel_page.html" class="nav-link current">HOTEL</a>
                </li>
                <li class="nav-item">
                    <a href="./restaurant_page.html" class="nav-link ">RESTAURANT</a>
                </li>
            </ul>
            <a class="header-logo" href="./index.html">
                <h3 class="logo-title">Mimino</h3>
                <p class="logo-text">restaurant-hotel complex</p>
            </a>
        </nav>
        <ul class="header-soc-list">
            <li class="header-soc-item">
                <a href="https://www.instagram.com/" class="header-soc-link">
                    <svg class="header-soc-icon" width="24" height="24">
                        <use href="./SVG/icons/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a href="https://www.facebook.com/" class="header-soc-link">
                    <svg class="header-soc-icon" width="24" height="24">
                        <use href="./SVG/icons/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a href="https://twitter.com/" class="header-soc-link">
                    <svg class="header-soc-icon" width="24" height="24">
                        <use href="./SVG/icons/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

    <div class="mob-menu is-hidden" data-menu>
        <div class="mob-menu-header ">
            <button type="button" class="menu-close-btn" data-menu-close>
                <svg class="mob-menu-close-btn-icon" width="32" height="32">
                    <use href="./SVG/icons/icons.svg#icon-close-window"></use>
                </svg>
            </button>
            <a class="home-header-logo" href="./index.html">
                <h3 class="home-logo-title">Mimino</h3>
                <p class="home-logo-text">restaurant-hotel complex</p>
            </a>
            <ul class="home-header-soc-list">
                <li class="home-header-soc-item">
                    <a href="https://www.instagram.com/" class="home-header-soc-link">
                        <svg class="home-header-soc-icon" width="24" height="24">
                            <use href="./SVG/icons/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="home-header-soc-item">
                    <a href="https://www.facebook.com/" class="home-header-soc-link">
                        <svg class="home-header-soc-icon" width="24" height="24">
                            <use href="./SVG/icons/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="home-header-soc-item">
                    <a href="https://twitter.com/" class="home-header-soc-link">
                        <svg class="home-header-soc-icon" width="24" height="24">
                            <use href="./SVG/icons/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="mob-menu-nav ">
            <ul class="mob-nav-list">
                <li class="mob-nav-item">
                    <a href="./index.html" class="mob-nav-link">HOME</a>
                </li>
                <li class="mob-nav-item">
                    <a href="./hotel_page.html" class="mob-nav-link">HOTEL</a>
                </li>
                <li class="mob-nav-item">
                    <a href="./restaurant_page.html" class="mob-nav-link ">RESTAURANT</a>
                </li>
            </ul>
        </div>

        <div class="mob-menu-soc">
            <ul class="mob-soc-list">
                <li class="mob-soc-item">
                    <a href="https://www.instagram.com/" class="mob-soc-link">
                        <svg class="mob-menu-soc-icon" width="20" height="20">
                            <use href="./SVG/icons/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="mob-soc-item">
                    <a href="https://www.facebook.com/" class="mob-soc-link">
                        <svg class="mob-menu-soc-icon" width="20" height="20">
                            <use href="./SVG/icons/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="mob-soc-item">
                    <a href="https://twitter.com/" class="mob-soc-link">
                        <svg class="mob-menu-soc-icon" width="20" height="20">
                            <use href="./SVG/icons/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>