<header class="home-header header">
  <div class="home-header-container container">
    <button type="button" class="menu-open-btn" data-menu-open>
      <svg class="home-menu-btn-icon">
        <use href="#icon-menu">
          <symbol id="icon-menu" viewBox="0 0 32 32">
            <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="2"
              d="M4 16h24M4 8h24M4 24h16"></path>
          </symbol>
        </use>
      </svg>
    </button>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="home-nav-link current-black">HOME</a>
        </li>
        <li class="nav-item">
          <a href="./hotel_page.html" class="home-nav-link ">HOTEL</a>
        </li>
        <li class="nav-item">
          <a href="./restaurant_page.html" class="home-nav-link ">RESTAURANT</a>
        </li>
      </ul>
      <a class="header-logo" href="./index.html">
        <h3 class="home-logo-title">Mimino</h3>
        <p class="home-logo-text">restaurant-hotel complex</p>
      </a>
    </nav>
        <ul class="header-soc-list white-svg">
            <li class="header-soc-item">
                <a href="https://www.instagram.com/" class="header-soc-link">
                    <svg class="header-soc-icon-white" width="24" height="24">
                        <use href="./img/icons.svg#icon-instagram">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a href="https://www.facebook.com/" class="header-soc-link">
                    <svg class="header-soc-icon-white" width="24" height="24">
                        <use href="./img/icons.svg#icon-facebook">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a href="https://twitter.com/" class="header-soc-link">
                    <svg class="header-soc-icon-white" width="24" height="24">
                        <use href="./img/icons.svg#icon-twitter">
                        </use>
                    </svg>
                </a>
            </li>
        </ul>
  </div>

  <div class="mob-menu is-hidden" data-menu>
    <div class="mob-menu-header ">
      <button type="button" class="menu-close-btn" data-menu-close>
        <svg class="mob-menu-close-btn-icon">
                    <use href="./img/icons.svg#icon-close-black-18dp-btn">
                    </use>
        </svg>
      </button>
      <a class="home-header-logo" href="./index.html">
        <h3 class="home-logo-title">Mimino</h3>
        <p class="home-logo-text">restaurant-hotel complex</p>
      </a>
      <ul class="home-header-soc-list">
        <li class="home-header-soc-item">
          <a href="https://www.instagram.com/" class="home-header-soc-link">
            <svg class="header-soc-icon-white" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram">
              </use>
            </svg>
          </a>
        </li>
        <li class="home-header-soc-item">
          <a href="https://www.facebook.com/" class="home-header-soc-link">
            <svg class="header-soc-icon-white" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook">
              </use>
            </svg>
          </a>
        </li>
        <li class="home-header-soc-item">
          <a href="https://twitter.com/" class="home-header-soc-link">
            <svg class="header-soc-icon-white" width="24" height="24">
              <use href="./img/icons.svg#icon-twitter">
              </use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="mob-menu-nav ">
      <ul class="mob-nav-list">
        <li class="mob-nav-item">
          <a href="./index.html" class="mob-nav-link" .header-link>HOME</a>
        </li>
        <li class="mob-nav-item">
          <a href="./hotel_page.html" class="mob-nav-link">HOTEL</a>
        </li>
        <li class="mob-nav-item">
          <a href="./restaurant_page.html" class="mob-nav-link ">RESTAURANT</a>
        </li>
      </ul>
    </div>

    <div class="mob-menu-soc">
      <ul class="mob-soc-list">
        <li class="mob-soc-item">
          <a href="https://www.instagram.com/" class="mob-soc-link">
            <svg class="mob-menu-soc-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-instagram">
              </use>
            </svg>
          </a>
        </li>
        <li class="mob-soc-item">
          <a href="https://www.facebook.com/" class="mob-soc-link">
            <svg class="mob-menu-soc-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-facebook">
              </use>
            </svg>
          </a>
        </li>
        <li class="mob-soc-item">
          <a href="https://twitter.com/" class="mob-soc-link">
            <svg class="mob-menu-soc-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-twitter">
              </use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
