<section class="hero-main">
    <div class="container">
     
            <!-- <div class="hero-image"></div> -->
        
        
                <div class="hero-title-box">
                    <h1>MIMINO</h1>
                        <div class="hero-btn">
                            <button class="hero-btn-black">BOOK A ROOM</button>
                            <button class="hero-btn-black">BOOK A TABLE</button>
                        </div>
                        <div class="hero-description">
                            <p>Whether you're in the mood for a hearty breakfast, a light lunch, or <span class="text-italic">a romantic dinner,</span> our menu has something for everyone.</p>
                            <p>At Hotel Mimino, <span class="text-italic">we believe</span> that great food should be available to everyone, no matter the time of day.</p>
                        </div>
                </div>

            
        

    </div>
</section>