<section class="hotels-details">
  <div class="hotels-details__text">
    <h2>Hotel</h2>
    <p>
      Book your stay with us now and experience the epitome of comfort and
      luxury at our hotel. We guarantee you'll be thrilled with your decision.
    </p>
  </div>

  <div class="hotels-details__buttons">
    <button>Book a room</button>
    <button>View rooms</button>
  </div>

  <div class="hotels-details__images">
    <img
      srcset="
        /dream_team/src/img/mobil/home/hotel-mobil-1.jpg     1x,
        /dream_team/src/img/mobil/home/hotel-mobil-1.@2x.jpg 2x
      "
      src="/dream_team/src/img/mobil/home/hotel-mobil-1.jpg"
      alt="спальня"
    />

    <div>
      <img
        srcset="
          /dream_team/src/img/mobil/home/hotel-mobil-2.jpg    1x,
          /dream_team/src/img/mobil/home/hotel-mobil-2@2x.jpg 2x
        "
        src="/dream_team/src/img/mobil/home/hotel-mobil-2.jpg"
        alt="мило та рушники"
      />

      <img
        srcset="
          /dream_team/src/img/mobil/home/hotel-mobil-3.jpg    1x,
          /dream_team/src/img/mobil/home/hotel-mobil-3@2x.jpg 2x
        "
        src="/dream_team/src/img/mobil/home/hotel-mobil-3.jpg"
        alt="ванна"
      />
    </div>

    <div>
      <img
        srcset="
          /dream_team/src/img/tablet/home/hotel-home-4.jpg    1x,
          /dream_team/src/img/tablet/home/hotel-home-4@2x.jpg 2x
        "
        src="/dream_team/src/img/tablet/home/hotel-home-4.jpg"
        alt="раковини"
      />

      <img
        srcset="
          /dream_team/src/img/tablet/home/hotel-home-5.jpg    1x,
          /dream_team/src/img/tablet/home/hotel-home-5@2x.jpg 2x
        "
        src="/dream_team/src/img/tablet/home/hotel-home-5.jpg"
        alt="зволожуючий крем"
      />
    </div>
  </div>
</section>
