<section class="hotels-details">
  <div class="hotels-details__text-s-button">
    <div class="hotels-details__text">
      <h2>Hotel</h2>
      <p>
        Book your stay with us now and experience the epitome of comfort and
        luxury at our hotel. We guarantee you'll be thrilled with your decision.
      </p>
    </div>

    <div class="hotels-details__buttons-top">
      <button>Book a room</button><button>View rooms</button>
    </div>
  </div>

  <div class="hotels-details__images">
    <div class="hotels-details__left-image">
      <img
        class="hotels-details__left-or-bottom-image"
        srcset="
          ../img/desktop/home/hotel-desktop-home-1.jpg    1x,
          ../img/desktop/home/hotel-desktop-home-1@2x.jpg 2x
        "
        src="../img/desktop/home/hotel-desktop-home-1.jpg"
        alt="soap"
        width="158"
        height="128"
      />
      <img
        class="hotels-details__bath"
        srcset="
          ../img/desktop/home/hotel-desktop-home-2.jpg    1x,
          ../img/desktop/home/hotel-desktop-home-2@2x.jpg 2x
        "
        src="../img/desktop/home/hotel-desktop-home-2.jpg"
        alt="bath"
        width="158"
        height="128"
      />
    </div>
    <img
      class="hotels-details__middle-image"
      srcset="
        ../img/desktop/home/hotel-desktop-home-3.jpg    1x,
        ../img/desktop/home/hotel-desktop-home-3@2x.jpg 2x
      "
      src="../img/desktop/home/hotel-desktop-home-3.jpg"
      alt="bedroom image"
      width="335"
      height="417"
    />
    <div class="hotels-details__bottom-image">
      <img
        class="hotels-details__left-or-bottom-image"
        srcset="
          ../img/desktop/home/hotel-desktop-home-1.jpg    1x,
          ../img/desktop/home/hotel-desktop-home-1@2x.jpg 2x
        "
        src="../img/desktop/home/hotel-desktop-home-1.jpg"
        alt="soap"
        width="158"
        height="128"
      />
      <img
        class="hotels-details__bath"
        srcset="
          ../img/desktop/home/hotel-desktop-home-2.jpg    1x,
          ../img/desktop/home/hotel-desktop-home-2@2x.jpg 2x
        "
        src="../img/desktop/home/hotel-desktop-home-2.jpg"
        alt="bath"
        width="158"
        height="128"
      />
    </div>
    <div class="hotels-details__right-image">
      <img
        class="hotels-details__soap"
        srcset="
          ../img/desktop/home/hotel-desktop-home-4.jpg    1x,
          ../img/desktop/home/hotel-desktop-home-4@2x.jpg 2x
        "
        src="../img/desktop/home/hotel-desktop-home-4.jpg"
        alt="shells"
        width="158"
        height="128"
      />
      <img
        class="hotels-details__bath"
        srcset="
          ../img/desktop/home/hotel-desktop-home-5.jpg    1x,
          ../img/desktop/home/hotel-desktop-home-5@2x.jpg 2x
        "
        src="../img/desktop/home/hotel-desktop-home-5.jpg"
        alt="soap"
        width="158"
        height="128"
      />
    </div>
  </div>

  <div class="hotels-details__buttons-bottom">
    <button>Book a room</button><button>View rooms</button>
  </div>
</section>
