<section class="section-welcome">
  <div class="container container-welcome">
    <div class="container-welcome-wrap">
        <h2 class="title-welcome">Welcome to the epitome of luxury and comfort</h2>
        <ul class="list-welcome">
          <li class="item-welcome">
            <p class="text-welcome">
              Our hotel rooms are elegantly designed with an eye for detail,
              ensuring that you have everything you need for a relaxing and
              rejuvenating stay.
            </p>
          </li>
          <li class="item-welcome">
            <p class="text-welcome">
              Each room is equipped with the latest amenities, including plush
              bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
              you start your day right. Our spacious bathrooms feature luxurious
              toiletries and towels, so you can pamper yourself in complete privacy.
            </p>
          </li>
        </ul>
    </div>
    <div class="container-welcome-wrap">
        <picture class="picture-welcome">
          <source
            srcset="
              ./img/desktop/home/welcome-desktop-home.jpg,
              ./img/desktop/home/welcome-desktop-home@2x.jpg
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./img/tablet/home/welcome-home.jpg,
              ./img/tablet/home/welcome-home.@2x.jpg
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/mobil/home/welcome-mobil-5.jpg,
              ./img/mobil/home/welcome-mobil-5@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
         
            class="imag-welcome"
            src="./img/desktop/home/welcome-desktop-home.jpg"
            alt="luxury design"
          />
        </picture>
    </div>
  </div>
</section>